// 믹스인 정의
// @mixin 믹스인이름(매개변수) {
//     // css
// }

// 믹스인 실행
// @include 믹스인이름(인수);

// background: url() no-repeat 좌표 색상;
// background: url() no-repeat 좌표 배경이미지크기 색상;
// background: url() no-repeat 좌표 색상;
// background-size: 배경이미지크기;

@mixin background($image, $coordinate: null, $color: null, $size: null) {
  background: url(#{$imgUrl}#{$image}) no-repeat $coordinate $color;
  background-size: $size;
}
// @include background("ico.svg", right 20px bottom 20px, $green09, 20px auto);

@mixin box($borderColor, $radius, $padding, $shadow: null) {
  border: 1px solid $borderColor;
  border-radius: $radius;
  padding: $padding;
  box-shadow: $shadow;
}
@mixin box2($map, $firstKey) {
  border: 1px solid map-get($map, $firstKey, borderColor);
  border-radius: map-get($map, $firstKey, radius);
  padding: map-get($map, $firstKey, padding);
  box-shadow: map-get($map, $firstKey, shadow);
}

@mixin mobile {
  @media (width < $mobileSize) {
    @content;
  }
}

@mixin tablet {
  @media (width < $tabletSize) {
    @content;
  }
}

@mixin avatar($size, $circle: true) {
  width: $size;
  height: $size;
  object-fit: cover;
  @if $circle {
    border-radius: 100%;
  } @else {
    border-radius: 0;
  }
}

@mixin position($value, $x, $y, $z: 1) {
  @if $value == "a" or $value == "absolute" {
    position: absolute;
  } @else if $value == "f" or $value == "fixed" {
    position: fixed;
  }

  // position: $value;
  left: $x;
  top: $y;
  z-index: var(--zindex, $z);

  @if $x == 50% and $y == 50% {
    transform: translate(-50%, -50%);
  } @else if $x == 50% {
    transform: translateX(-50%);
  } @else if $y == 50% {
    transform: translateY(-50%);
  }
}
